# **TASK 3 :  CREDIT CARD FRAUD DETECTION**

In [ ]:
import pandas as pd

# Load the dataset
credits_data = pd.read_csv('/content/creditcard.csv',on_bad_lines='skip')

In [8]:
# Display the first few rows of the dataset
credits_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338320769942518,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277837575558899,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.16648,0.448154,0.0600176492822243,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638671952771851,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.37978,-0.503198133318193,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679401917229,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.0103088796030823,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.00527359678253453,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193377311653,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.79827849458971,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [11]:
# Check the structure and summary statistics of the dataset
credits_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531770 entries, 0 to 531769
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    531770 non-null  float64
 1   V1      531770 non-null  float64
 2   V2      531770 non-null  object
 3   V3      531769 non-null  object
 4   V4      531768 non-null  object
 5   V5      531767 non-null  object
 6   V6      531767 non-null  float64
 7   V7      531764 non-null  object
 8   V8      531762 non-null  float64
 9   V9      531761 non-null  object
 10  V10     531759 non-null  float64
 11  V11     531758 non-null  float64
 12  V12     531755 non-null  object
 13  V13     531749 non-null  float64
 14  V14     531747 non-null  float64
 15  V15     531742 non-null  float64
 16  V16     531736 non-null  float64
 17  V17     531732 non-null  object
 18  V18     531728 non-null  float64
 19  V19     531721 non-null  float64
 20  V20     531718 non-null  object
 21  V21     531710 non-null  float64
 22  V22     531706 non-null  object
 23  V23     531701 non-null  float64
 24  V24     531693 non-null  float64
 25  V25     531690 non-null  float64
 26  V26     531686 non-null  float64
 27  V27     531678 non-null  float64
 28  V28     531668 non-null  float64
 29  Amount  531662 non-null  float64
 30  Class   531654 non-null  float64
dtypes: float64(21), object(10)
memory usage: 125.8+ MB

In [12]:
credits_data.describe()

,Time,V1,V6,V8,V10,V11,V13,V14,V15,V16,...,V19,V21,V23,V24,V25,V26,V27,V28,Amount,Class
count,5.317700e+05,531770.000000,531767.000000,5.317620e+05,5.317590e+05,531758.000000,531749.000000,5.317470e+05,531742.000000,531736.000000,...,531721.000000,531710.000000,5.317010e+05,531693.000000,531690.000000,531686.000000,531678.000000,531668.000000,531662.000000,531654.000000
mean,2.675278e+12,0.015023,-0.006926,5.877980e+07,3.676898e+00,-0.030441,-0.019095,3.082624e+08,-0.005885,0.000967,...,0.010738,0.002699,-7.340185e+03,-0.000161,-0.008924,-0.000163,0.000676,0.000207,88.491545,0.001657
std,1.946195e+15,1.971702,1.337227,4.286338e+10,2.676584e+03,1.070339,0.988907,2.247881e+11,0.955227,0.962072,...,5.281949,0.778465,5.352306e+06,0.618036,0.580407,0.862057,0.703042,0.369672,251.185422,0.040674
min,0.000000e+00,-56.407510,-26.160506,-7.321672e+01,-2.458826e+01,-4.797473,-20.794422,-4.947862e+07,-4.498945,-20.794422,...,-7.213527,-34.830382,-3.902785e+09,-2.836627,-10.295397,-2.604551,-22.565679,-15.430084,0.000000,0.000000
25%,6.073600e+04,-0.917013,-0.776734,-2.123914e-01,-5.332843e-01,-0.785862,-0.656876,-4.372373e-01,-0.589116,-0.466385,...,-0.450784,-0.227557,-1.604847e-01,-0.356315,-0.327553,-0.326649,-0.071208,-0.054262,5.490000,0.000000
50%,9.634400e+04,0.025645,-0.283086,2.029366e-02,-8.953686e-02,-0.059842,-0.025955,4.026877e-02,0.036674,0.066684,...,0.006199,-0.025079,-7.762332e-03,0.039675,0.000628,-0.051109,0.000811,0.009843,21.990000,0.000000
75%,1.412680e+05,1.363466,0.391242,3.286613e-01,4.604720e-01,0.705286,0.639825,4.758241e-01,0.637904,0.520770,...,0.457682,0.191856,1.533850e-01,0.444618,0.343877,0.238078,0.091457,0.078489,77.090000,0.000000
max,1.419211e+18,99.000000,73.301626,3.125684e+13,1.951813e+06,258.830000,84.640000,1.639177e+14,179.790000,233.600000,...,3790.390000,155.150000,2.252841e+01,59.360000,140.360000,507.860000,368.900000,86.000000,25691.160000,1.000000

In [35]:
# Check for missing values
missing_values = credits_data.isnull().sum()
print("\nMissing values in the dataset:")
print(missing_values[missing_values > 0])

# Check for unique values in each column (to spot any anomalies)
print("\nUnique values in each column:")
unique_values = credits_data.nunique()
print(unique_values)

Missing values in the dataset:
Series([], dtype: int64)

Unique values in each column:
Time      124587
V1        275629
V2        307622
V3        307499
V4        323911
V5        298195
V6        275645
V7        307812
V8        275646
V9        328227
V10       275646
V11       275646
V12       307845
V13       275643
V14       275639
V15       275635
V16       275632
V17       307750
V18       275623
V19       275620
V20       307778
V21       275608
V22       291420
V23       275595
V24       275592
V25       275588
V26       275580
V27       275570
V28       275564
Amount     32757
Class          3
dtype: int64

In [36]:
# Convert columns to appropriate data types (if necessary)
# Here, we'll try to convert all columns to numeric and handle errors

for column in credits_data.columns:
    credits_data[column] = pd.to_numeric(credits_data[column], errors='coerce')

# After conversion, check if any values were coerced to NaN (indicating a problem)
coerced_to_nan = credits_data.isnull().sum()
print("\nValues coerced to NaN during conversion:")
print(coerced_to_nan[coerced_to_nan > 0])

# Drop or fill NaN values
credits_data.dropna(inplace=True)

# Check the dataset again
print("\nData after cleaning:")
credits_data.info()

Values coerced to NaN during conversion:
V2     1
V3     1
V4     2
V5     3
V7     1
V9     2
V12    1
V17    1
V20    1
V22    1
dtype: int64

Data after cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 531756 entries, 0 to 531769
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    531756 non-null  float64
 1   V1      531756 non-null  float64
 2   V2      531756 non-null  float64
 3   V3      531756 non-null  float64
 4   V4      531756 non-null  float64
 5   V5      531756 non-null  float64
 6   V6      531756 non-null  float64
 7   V7      531756 non-null  float64
 8   V8      531756 non-null  float64
 9   V9      531756 non-null  float64
 10  V10     531756 non-null  float64
 11  V11     531756 non-null  float64
 12  V12     531756 non-null  float64
 13  V13     531756 non-null  float64
 14  V14     531756 non-null  float64
 15  V15     531756 non-null  float64
 16  V16     531756 non-null  float64
 17  V17     531756 non-null  float64
 18  V18     531756 non-null  float64
 19  V19     531756 non-null  float64
 20  V20     531756 non-null  float64
 21  V21     531756 non-null  float64
 22  V22     531756 non-null  float64
 23  V23     531756 non-null  float64
 24  V24     531756 non-null  float64
 25  V25     531756 non-null  float64
 26  V26     531756 non-null  float64
 27  V27     531756 non-null  float64
 28  V28     531756 non-null  float64
 29  Amount  531756 non-null  float64
 30  Class   531756 non-null  float64
dtypes: float64(31)
memory usage: 129.8 MB

In [44]:
# Check the unique values in the target variable 'Class'
y = credits_data['Class']
print("Unique values in the target variable 'Class':")
print(y.unique())

# Convert the target variable to binary (if necessary)
# If the target values are already binary (0 and 1), this step is unnecessary
# Assuming 0 for genuine and 1 for fraud, and continuous values are incorrect
if not y.isin([0, 1]).all():
    y = y.apply(lambda x: 1 if x >= 0.5 else 0)

# Check the unique values in the target variable again
print("Unique values in the target variable 'Class' after conversion:")
print(y.unique())

Unique values in the target variable 'Class':
[0.         1.         0.00165709]
Unique values in the target variable 'Class' after conversion:
[0 1]

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Normalize the 'Amount' column
scaler = StandardScaler()
credits_data['Amount'] = scaler.fit_transform(credits_data['Amount'].values.reshape(-1, 1))

# Splitting the data into features (X) and target (y)
X = credits_data.drop('Class', axis=1)  # Assuming 'Class' is the target column

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [48]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [49]:
# Initialize the Decision Tree model
dt_model = DecisionTreeClassifier(random_state=42)

In [50]:
# Train the model with the training data
dt_model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [51]:
# Make predictions on the testing set
y_pred_dt = dt_model.predict(X_test)

# Evaluate the model
print("Decision Tree Model Evaluation:")
print(classification_report(y_test, y_pred_dt))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_dt))

Decision Tree Model Evaluation:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    106188
           1       0.92      0.93      0.92       164

    accuracy                           1.00    106352
   macro avg       0.96      0.96      0.96    106352
weighted avg       1.00      1.00      1.00    106352

Confusion Matrix:
 [[106175     13]
 [    12    152]]

In [ ]:
# Copy the dataset to avoid modifying the original data
data_for_prediction = credits_data.copy()

# Drop the 'Class' column since we're predicting it
X_full = data_for_prediction.drop('Class', axis=1)

# Normalize the 'Amount' column (the same way it was done during training)
X_full['Amount'] = scaler.transform(X_full[['Amount']])

In [58]:
# Predict using the trained Decision Tree model
predictions_full = dt_model.predict(X_full)

# Add the predictions to the dataset
data_for_prediction['Predicted_Class'] = predictions_full

# Count the number of fraudulent transactions (where Predicted_Class == 1)
num_fraudulent = data_for_prediction['Predicted_Class'].sum()

# Display the result
print(f"Total number of fraudulent transactions predicted: {num_fraudulent}")

Total number of fraudulent transactions predicted: 882